// Estilos base
body {
  font-family: $font-family;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1, h2 {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

