// Variables
$primary-color: #007bff;
$secondary-color: #343a40;
$light-color: #fff;
$hover-color: #ccc;
$font-family: 'Arial, sans-serif';
$font-size-base: 1em;
$padding-base: 10px;
$border-radius: 4px;
$box-shadow-base: 0px 0px 10px rgba(0, 0, 0, 0.1);

